/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

/* Align radios and text inputs with their label */

input[type="radio"] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type="button"],
input[type="submit"],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -0.7em;
}
sub {
  bottom: -0.25em;
}

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}

/*for all*/
body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1116px;
  width: 81.7%;
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
.header {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
}

.header > .wrapper {
  max-width: 966px;
  width: 73.6%;
  margin: 0 auto;
}

.nav-container {
  padding: 18px 70px;
  padding: 18px 7.25%;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #dee6fd;
  transition: transform 0.4s ease;
}

.header .active-nav {
  transform: translateY(0);
}

.html-scroll {
  overflow-y: hidden;
}

.header-nav {
  width: 60%;
}

.contact-header {
  width: 15%;
}

.header-nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
}

.header-nav > ul a {
  color: #5d4c8f;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

.header-nav > ul .demos::after {
  color: #5d4c8f;
  font-family: "FontAwesome";
}

.demos::after {
  content: "\f0d7";
  padding-left: 6px;
  font-size: 14px;
}

.btn {
  padding: 20px 55px;
  /* padding: 20px 5%; */
  border-radius: 30px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  white-space: nowrap;
}

.nav-container .btn {
  padding: 10px 18.25%;
  white-space: nowrap;
}

.blue {
  background-color: #5580ff;
}
.orange {
  background-color: #ff8a73;
}
.contact-btn {
  opacity: 0.3;
}

.social-icons {
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
}

.social-icons a {
  text-indent: -9999px;
}

.social-icons a::after {
  color: #5d4c8f;
  font-family: "FontAwesome";
  font-size: 20px;
  float: right;
  text-indent: 0;
}

.cart::after {
  content: "\f218";
}
.search::after {
  content: "\f002";
}
.website::after {
  content: "\f0ac";
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  margin: 5px 0.5%;
  display: block;
  background-color: #fff;
  text-indent: -9999px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.main-heading {
  margin-top: 85px;
  color: #fff;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;
}
/*=================================
  Header styling ends here
=================================*/

/*=================================
  main styling starts here
=================================*/
/******************************************
  banner section styling starts here
******************************************/
.banner-section {
  width: 100%;
  height: 100%;
  padding: 65px 0;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background-image: url(../images/mbr.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-container .info {
  margin-top: 20px;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
}

.info {
  color: #b7b8c0;
  font-size: 18px;
  line-height: 1.5;
}

.header-btns {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.header-btns > a:first-child {
  margin-right: 1.25%;
}
.keyboard-img {
  text-align: center;
}

.keyboard-img > img {
  width: 70%;
  border-radius: 20px;
  margin-top: 65px;
  -o-object-fit: cover;
  object-fit: cover;
}
/******************************************
  banner section styling ends here
******************************************/

/******************************************
  features section styling starts here
******************************************/
.features-section {
  padding: 110px 0 110px;
  margin-top: 100px;
}

.features-section > .wrapper {
  max-width: 1066px;
  width: 78%;
}

.purple {
  color: #5d4c8f;
}

.features-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.product-heading {
  font-size: 24px;
  font-weight: 600;
  text-transform: capitalize;
}

.features-container .product-heading::before {
  padding: 12px 10px;
  margin-right: 26px;
  border-radius: 10px;
  color: #fff;
  background-color: #5580ff;
  font-family: "FontAwesome";
  font-size: 18px;
  float: left;
}

.features-container > li {
  -ms-flex-preferred-size: 33%;
  flex-basis: 33%;
}
.features-container > li:first-child > .product-heading::before {
  opacity: 0.3;
}
.features-container > li:last-child > .product-heading::before {
  background-color: #ff8a73;
}
.features-container .product-heading::before {
  content: "\f00c";
}
.features-container .info {
  margin: 30px 0 0 60px;
}
/******************************************
  features section styling ends here
******************************************/

/******************************************
  blogTop section styling starts here
******************************************/
.blogTop-section {
  padding: 75px 0;
  background-color: #f2f6ff;
}

.blogTop-section > .wrapper {
  max-width: 1066px;
  width: 78%;
}

.blog-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  flex-wrap: wrap;
}

.sub-heading {
  font-size: 48px;
  text-transform: capitalize;
}

.blogTop-section .galaxy-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.7%;
  flex: 0 0 66.7%;
}

.blogTop-section .galaxy-img > img {
  width: 80%;
  border-radius: 10px;
}

.blog-description {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.3%;
  flex: 0 0 33.3%;
}

.blog-description > .info {
  margin-top: 45px;
}
.blog-description > .btn {
  margin-top: 55px;
}
/******************************************
  blogTop section styling ends here
******************************************/

/******************************************
  blogBottom section styling starts here
******************************************/
.blogBottom-section {
  padding: 45px 0 70px;
}

.blogBottom-section .blog-container {
  margin-bottom: 230px;
}

.blogBottom-section .blog-description {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
}

.blog-images {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 45%;
  flex: 0 0 45%;
  position: relative;
}

.blogBottom-section .galaxy-img > img {
  width: 90%;
  border-radius: 10px;
}

.blog-images > .iphone-img {
  position: absolute;
  top: 60px;
  left: -25px;
}

.blog-images > .iphone-img > img {
  width: 60%;
  border-radius: 10px;
}

.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.description .info:first-child {
  margin-right: 2.75%;
}
/******************************************
  blogBottom section styling ends here
******************************************/

/******************************************
  image section styling starts here
******************************************/
.image-section > .wrapper {
  max-width: 1366px;
  width: 100%;
}

.image-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.image-gallery > li {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
}
/******************************************
  image section styling ends here
******************************************/

/******************************************
  gadget section styling starts here
******************************************/
.gadget-section {
  padding: 70px 0 80px;
}
.gadget-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.gadget-left,
.gadget-right {
  margin: 16px 3% 0 0;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.3%;
  flex: 0 0 33.3%;
}
.phone-img > img {
  width: 90%;
}
.gadget-right {
  margin: 16px 0 0 0;
}

.gadget-left > li,
.gadget-right > li {
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gadget-left > li:last-child,
.gadget-right > li:last-child {
  margin: 0;
}
.gadget-description > .info {
  margin-top: 24px;
}
.gadget-icon > span {
  font-size: 0;
}
.gadget-left .gadget-description {
  text-align: right;
}

.gadget-icon > span::after,
.gadget-icon > span::before {
  margin: 0 26px;
  font-family: "FontAwesome";
  font-size: 40px;
  text-indent: 0;
}

.models::after {
  content: "\f0ac";
  color: #5d4c8f;
}

.community::after {
  content: "\f27a";
  color: #5580ff;
}

.projects::after {
  content: "\f1d8";
  color: #ff8a73;
}

.security::after {
  content: "\f132";
  color: #ff8a73;
}

.multifunctional::after {
  content: "\f109";
  color: #bfceff;
}

.analysis::after {
  content: "\f013";
  color: #5d4c8f;
}
/******************************************
  gadget section styling ends here
******************************************/

/******************************************
  deals section styling starts here
******************************************/
.deals-section {
  padding: 45px 0;
  background-color: #f2f6ff;
}

.deals-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.deals-container > .sub-heading,
.deals-container > .info {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
}

.deals-container > .sub-heading {
  padding: 0 1.5%;
  border-right: 2px solid #efeeee;
}

.deals-container > .info {
  margin-left: 6%;
}
/******************************************
  deals section styling ends here
******************************************/

/******************************************
  sale section styling starts here
******************************************/
.sale-section {
  padding: 75px 0 15px;
}

.sale-container > .sub-heading {
  font-weight: 600;
  text-align: center;
}

.countdown-container {
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.countdown-container > li {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
}

.count,
.count-info {
  display: block;
  color: #5d4c8f;
  text-align: center;
  text-transform: capitalize;
}

.count {
  font-size: 75px;
}
.count-info {
  font-size: 25px;
}
/******************************************
  sale section styling ends here
******************************************/

/******************************************
  shop section styling starts here
******************************************/
.shop-section {
  padding: 85px 0 60px;
}

.shop-section > .wrapper {
  max-width: 1306px;
  width: 95.6%;
  margin: 0 auto;
}

.sort-container {
  margin: 30px 1.25% 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.sort-container > li {
  margin-right: 6px;
}
.sort-container > li:last-child {
  margin: 0;
}
.uppercase {
  text-transform: uppercase;
}

.sort-container > li > a {
  padding: 10px 32px;
  border: 2px solid #ff350d;
  border-radius: 30px;
  color: #ff8a73;
  font-size: 14px;
  white-space: nowrap;
}

.sort-container .active-sort {
  border-color: #ff8a73;
  background-color: #ff8a73;
  color: #fff;
}

.img-filter-container {
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
}

.img-container > li {
  margin: 0 10px 10px 0;
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 23%;
  flex: 0 0 23%;
}

.img-container > li > img {
  border-radius: 10px;
}
.img-container > li > .product-heading {
  margin-top: 15px;
}

.price {
  margin-top: 5px;
  color: #b7b8c0;
  font-size: 24px;
}

.price::before {
  content: "\24";
  font-family: "FontAwesome";
}

.line-through {
  margin-left: 12px;
  color: #767676;
  font-size: 18px;
  text-decoration: line-through;
}

.discount {
  padding: 10px 15px;
  border-radius: 30px;
  position: absolute;
  top: 5px;
  right: 5px;
  background: #fff;
  font-size: 14px;
}

.discount::after {
  font-family: "FontAwesome";
}
.discount::after {
  content: "\25";
}
.filter-container {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
}

.mini-heading {
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
}

.filter-container > .mini-heading:first-child {
  margin-bottom: 28px;
}
.filter-form {
  margin: 15px 0 45px;
}

.range-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.min-price,
.max-price {
  padding: 10px 17.25%;
  border: 2px solid #ff8a73;
  font-size: 12px;
  cursor: default;
}

.min-price {
  border-right: none;
}
.range-slider {
  margin-top: 30px;
  display: flex;
}

.range-slider > input[type="range"] {
  width: 16%;
  height: 0.5%;
  position: absolute;
  background-color: #ff8a73;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  pointer-events: none;
}

.range-slider > input[type="range"]::-webkit-slider-thumb {
  width: 8%;
  height: 20px;
  border-radius: 50%;
  background-color: #ff8a73;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  pointer-events: all;
}

.range-btns {
  margin-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.range-btns > .btn {
  padding: 10px 32px;
  border: none;
  font-size: 14px;
  font-weight: normal;
  text-transform: capitalize;
  white-space: nowrap;
}

.filter-btn {
  margin-right: 2.5%;
}

.filter-list {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.filter-list > li > a {
  margin-bottom: 25px;
  color: #5d4c8f;
  font-size: 18px;
  text-transform: capitalize;
}

.active-filter {
  font-weight: 600;
}
/******************************************
  shop section styling ends here
******************************************/

/******************************************
  demos section styling starts here
******************************************/
.demos-section {
  position: relative;
}

.laptop-bg > .wrapper {
  max-width: 1366px;
  width: 100%;
}

.laptop-bg img {
  height: 100vh;
  -o-object-fit: cover;
  object-fit: cover;
  opacity: 0.8;
}

.demos-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.demos-slider::-webkit-scrollbar {
  display: none;
}

.demos-slider > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
}

.demos-slider .info {
  margin-top: 40px;
}

.demos-slider .sub-heading,
.demos-slider .info {
  color: #fff;
  text-align: center;
}

.profile-img {
  margin-top: 38px;
  text-align: center;
}

.profile-img > img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
}

.profile-name {
  margin-top: 16px;
  color: #fff;
  font-size: 18px;
  text-transform: capitalize;
}

.profile-designation {
  margin-top: 8px;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
}

.slide-arrows > a {
  font-size: 0;
}

.slide-left {
  position: absolute;
  top: 250px;
  left: 10%;
}

.slide-right {
  position: absolute;
  top: 250px;
  right: 10%;
}

.slide-arrows > a::before {
  font-family: "FontAwesome";
  color: #a8a7ac;
  font-size: 48px;
}

.slide-left::before {
  content: "\f053";
}

.slide-right::before {
  content: "\f054";
}

/******************************************
  demos section styling ends here
******************************************/

/******************************************
  tab section styling starts here
******************************************/
.tab-section {
  padding: 80px 0 60px;
}

.tab-nav {
  border-bottom: 1px solid #b7b8c0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.tab-nav > li {
  padding-bottom: 20px;
  margin-right: 7%;
}

.tab-nav > li > a {
  color: #ccc;
  font-size: 18px;
  text-transform: capitalize;
}

.tab-nav .active-tab > a {
  color: #5d4c8f;
}

.tab-content {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.tab-content > li {
  display: none;
}
.tab-content > .active-content {
  display: inline-block;
}
/******************************************
  tab section styling ends here
******************************************/

/******************************************
  tech section styling starts here
******************************************/
.tech-section {
  padding: 45px 0;
}
.tech-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.tech-container > .galaxy-img,
.tech-description {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
}
.tech-container .iphone-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
}
.galaxy-img + .tech-description {
  margin: auto 0;
  padding-left: 5%;
}
.tech-description > .info {
  margin-top: 32px;
}
.tech-description > .btn {
  margin-top: 24px;
}
.tech-container:last-child > .tech-description {
  margin: auto;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 40%;
  flex: 0 0 40%;
}

.feature-list {
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.feature-list > li {
  margin-bottom: 55px;
}
.feature-list > li:last-child {
  margin: 0;
}

.feature-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.feature {
  font-size: 18px;
  text-transform: capitalize;
}

.percentage::after {
  content: "%";
}

.tech {
  width: 100%;
  height: 5px;
  margin-top: 8px;
  position: relative;
  background-color: #ededed;
  text-indent: -9999px;
}

.tech::before {
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.archeticture::before {
  width: 73%;
  background-color: #becfff;
}

.development::before {
  width: 89%;
  background-color: #5480fe;
}

.interface::before {
  width: 78%;
  background-color: #ff8a73;
}

/******************************************
  tech section styling ends here
******************************************/

/******************************************
  about section styling starts here
******************************************/
.about-section {
  padding: 125px 0 45px;
}
.smartwatch-img {
  margin-top: 45px;
}

.smartwatch-img > .wrapper {
  max-width: 1366px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #f2f6ff;
}

.smartwatch-img img {
  width: 60%;
}
/******************************************
  about section styling ends here
******************************************/

/******************************************
  contact section styling starts here
******************************************/
.contact-section {
  padding: 30px 0 45px;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.contact-container > .sub-heading {
  width: 50%;
}

.contact-form {
  width: 50%;
  margin-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.input-field {
  width: 100%;
  margin-bottom: 20px;
}

.special-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.input-field label {
  display: none;
}

.input-field input,
.message-input {
  width: 100%;
  padding: 22px 0 22px 22px;
  border: none;
  border-radius: 10px;
  outline: none;
  background-color: #f2f6ff;
  font-size: 18px;
}

.input-field .first-name,
.input-field .email {
  width: 45%;
}

.submit-container {
  margin-bottom: 130px;
}

.send-btn {
  padding: 12px 58px;
  border: none;
}

.input-error {
  color: #ff0000;
  text-align: left;
}

.contact-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact-links > li {
  padding: 16px 1.5%;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.contact-links .icon {
  font-size: 0;
}
.arrow-right {
  font-size: 0;
}

.contact-links .icon::before {
  margin-right: 16px;
  font-family: "FontAwesome";
  font-size: 48px;
}

.arrow-right::before {
  content: "\f061";
  margin-left: 16px;
  color: #5d4c8f;
  font-family: "FontAwesome";
  font-size: 16px;
}

.behance::before {
  content: "\f1b4";
  color: #fe3367;
}

.vimeo::before {
  content: "\f27d";
  color: #becefe;
}

.contact-links .twitter::before {
  content: "\f099";
  color: #5581fe;
}

.instagram::before {
  content: "\f16d";
  color: #ff8a73;
}

.link {
  font-size: 24px;
  font-weight: 600;
  text-transform: capitalize;
}

.link-info {
  margin-top: 4px;
  color: #706d80;
  font-size: 16px;
  text-transform: uppercase;
}
/******************************************
  contact section styling ends here
******************************************/

/******************************************
  faq section styling statys here
******************************************/
.faq-section {
  padding: 60px 0;
}

.faq-section .sub-heading {
  text-align: center;
  text-transform: uppercase;
}

.faq-list {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.faq-list > li {
  margin-bottom: 24px;
}
.faq-list > li:last-child {
  margin: 0;
}

.faq-text {
  padding: 22px 26px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f3f7ff;
  font-size: 24px;
  font-weight: 600;
}

.faq-text::after {
  content: "\f078";
  font-family: "FontAwesome";
}

.faq-ans {
  padding: 0 26px;
  background-color: #f3f7ff;
  opacity: 0;
  transition: all 0.4s ease;
}

.active-faq .faq-ans {
  padding: 22px 26px;
  opacity: 1;
}

.active-faq .faq-text::after {
  content: "\f077";
  font-family: "FontAwesome";
}
/******************************************
  faq section styling ends here
******************************************/
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/
.footer {
  padding: 120px 0 75px;
  background-color: #353350;
  color: #fff;
}

.footer > .wrapper {
  max-width: 1306px;
  width: 95.6%;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer-contact,
.footer-address,
.footer-twitter,
.support-donwload {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
}

.footer-twitter {
  margin-right: 2.25%;
}

.footer-logo > img {
  width: 23%;
}

.footer-contact > .info {
  margin-top: 16px;
  font-size: 16px;
  color: #fff;
}

.footer-links {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-links > li {
  margin-right: 5.75%;
}

.footer-links > li > a {
  padding: 14px 16px;
  border-radius: 50%;
  background-color: #fff;
  font-size: 0;
}

.footer-links > li > a::before {
  color: #5d4c8f;
  font-family: "FontAwesome";
  font-size: 20px;
}

.footer-links .twitter::before {
  content: "\f099";
}
.facebook::before {
  content: "\f39e";
}
.youtube::before {
  content: "\f167";
}
.footer-address > .mini-heading {
  margin-bottom: 24px;
}

.street,
.city,
.mail,
.telephone {
  margin-bottom: 10px;
  color: #fff;
  font-size: 16px;
}

.telephone {
  margin: 0;
  white-space: nowrap;
}

.footer-address > div::before,
.footer-address a::before {
  margin-right: 10px;
  font-family: "FontAwesome";
}

.street::before {
  content: "\f3c5";
}
.city::before {
  content: "\f08d";
}
.mail::before {
  content: "\f0e0";
}
.telephone::before {
  content: "\f095";
}

.footer-twitter > .info {
  padding: 20px 4.5%;
  border-radius: 10px;
  margin-bottom: 35px;
  position: relative;
  background-color: #2e2e48;
  color: #fff;
  font-size: 16px;
}

.footer-twitter > .info::after {
  content: " ";
  border-width: 20px 20px 0 0;
  border-style: solid;
  border-color: #2e2e48 transparent;
  position: absolute;
  top: 100%;
  left: 36px;
}

.twitter-icon {
  font-size: 18px;
  text-transform: capitalize;
}

.twitter-icon::before {
  content: "\f099";
  padding: 14px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: #5581fe;
  color: #fff;
  font-family: "FontAwesome";
  font-size: 20px;
}

.support-donwload > .info {
  margin-top: 34px;
  color: #fff;
  font-size: 16px;
}

.footer-btns {
  margin-top: 30px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.app-btn,
.google-btn {
  padding: 6px 10px;
  border: 2px solid #fff;
  border-radius: 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  text-transform: capitalize;
}

.app-btn {
  margin-bottom: 16px;
}

.footer-btns > a::before {
  margin-right: 10px;
  color: #fff;
  font-family: "FontAwesome";
  font-size: 26px;
}

.app-btn::before {
  content: "\f179";
}
.google-btn::before {
  content: "\f3ab";
}
/*=================================
  footer styling ends here
=================================*/
/*=================================
  footer styling ends here
=================================*/

/*media query starts*/
/*media query for hover from 1366px starts here*/
@media only screen and (min-width: 1366px) {
  .laptop-bg img {
    height: 100%;
  }
}

/*media query for hover from 995px starts here*/
@media only screen and (min-width: 995px) {
  /* header section hovers */
  .header-nav > ul a:hover {
    color: #fff;
  }
  .header-nav > ul .demos:hover::after {
    color: #fff;
  }
  .orange:hover,
  .blue:hover {
    background-color: #ccc;
  }
  .btn:hover {
    color: #5580ff;
  }
  .btn:hover:not(.blue) {
    color: #ff8a73;
  }
  .nav-container .contact-btn:hover {
    opacity: 1;
  }
  .social-icons a:hover::after {
    color: #fff;
  }

  /* shop section hovers */
  .sort-container > li > a:hover {
    border-color: #ff8a73;
    background-color: #ff8a73;
    color: #fff;
  }

  .filter-list > li > a:hover {
    font-weight: 600;
  }
  /* tab section hovers */
  .tab-nav > li > a:hover {
    color: #5d4c8f;
  }

  .slide-arrows > a:hover::before {
    color: #fff;
  }

  .link:hover {
    color: #ccc;
  }
  .footer-links > li > a:hover {
    background-color: #5d4c8f;
  }
  .footer-links > li > a:hover::before {
    color: #fff;
  }
  .mail:hover,
  .telephone:hover {
    color: #5d4c8f;
  }
  .footer-btns > a:hover,
  .footer-btns > a:hover::before {
    background-color: #fff;
    color: #5d4c8f;
  }
}

/*media query for hover from 995px starts here*/
@media only screen and (max-width: 995px) {
  .header-nav > ul a {
    font-size: 14px;
  }
  .nav-container .btn {
    font-size: 12px;
  }
}

/*media query for 768px starts here*/
@media only screen and (max-width: 768px) {
  /********* header responsive styling starts **********/
  .header > .wrapper {
    width: 100%;
  }

  .header-nav > ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    align-items: center;
  }

  .nav-container {
    width: 100%;
    padding: 18px 0;
    flex-direction: column;
    position: absolute;
    top: 0;
    transform: translateY(-100%);
  }

  .hamburger {
    display: block;
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 50px;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    -ms-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    -ms-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }

  .header-nav > ul > li {
    margin: 0 0 40px 0;
  }

  .header-nav > ul > li:last-child {
    margin-right: 0;
  }

  .nav-container .btn {
    margin: 0 0 30px 0;
  }
  /********* header responsive styling ends **********/

  /********* features responsive styling starts **********/
  .features-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .features-container > li {
    margin-bottom: 40px;
  }
  /********* features responsive styling ends **********/

  /********* blogTop & blogBottom responsive styling starts **********/
  .blog-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    align-items: center;
  }

  .description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .blog-container .galaxy-img,
  .blog-description {
    margin-bottom: 30px;
    text-align: center;
  }

  .description .info:first-child {
    margin: 0 0 20px 0;
  }
  /********* blogTop & blogBottom responsive styling ends **********/

  /********* image section responsive styling starts **********/
  .image-gallery > li {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.3%;
    flex: 0 0 33.3%;
  }
  /********* image section responsive styling ends **********/

  /********* gadget section responsive styling starts **********/
  .gadget-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .gadget-left,
  .gadget-right {
    margin: 30px 0 0 0;
  }

  .gadget-left > li {
    justify-content: flex-end;
  }

  .gadget-container > .phone-img {
    margin-top: 20px;
  }
  /********* gadget section responsive styling ends **********/

  /********* gadget section responsive styling starts **********/
  .deals-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .deals-container > .sub-heading {
    padding: 10px 1.5%;
    border-right: none;
    border-bottom: 2px solid #efeeee;
    text-align: center;
  }

  .deals-container > .info {
    margin: 30px 0 0;
  }
  /********* gadget section responsive styling ends **********/

  /********* shop section responsive styling starts **********/
  .img-container,
  .filter-container {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    text-align: center;
  }

  .sort-container {
    justify-content: center;
  }

  .range-label,
  .range-slider,
  .range-btns {
    justify-content: center;
  }
  .range-slider > input[type="range"] {
    width: 35%;
  }
  /********* shop section responsive styling ends **********/

  /********* demos section responsive styling starts **********/
  .demos-slider {
    transform: translate(-50%, 10%);
  }
  /********* demos section responsive styling ends **********/

  /********* tab section responsive styling starts **********/
  .tab-nav {
    justify-content: space-evenly;
  }
  /********* tab section responsive styling ends **********/

  /********* tech section responsive styling starts **********/
  .tech-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .galaxy-img + .tech-description {
    padding: 55px 0 50px;
    text-align: center;
  }

  .feature-list {
    margin: 32px 0;
  }
  /********* tech section responsive styling ends **********/

  /********* contact section responsive styling starts **********/
  .contact-container > .sub-heading {
    width: 100%;
  }

  .contact-form {
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  /********* contact section responsive styling ends **********/

  /********* social section responsive styling starts **********/
  .contact-links {
    justify-content: center;
  }

  .contact-links > li {
    margin-bottom: 20px;
  }
  /********* social section responsive styling ends **********/

  /********* footer section responsive styling starts **********/
  .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    align-items: center;
  }

  .support-donwload > .mini-heading {
    text-align: center;
  }
  .footer-contact,
  .footer-address,
  .footer-twitter {
    margin: 0 0 40px 0;
  }
  .footer-contact {
    text-align: center;
  }
  .footer-links {
    justify-content: center;
  }

  .footer-btns {
    display: flex;
    align-items: center;
  }
  /********* footer section responsive styling ends **********/
}

/*media query for hover from 560px starts here*/
@media only screen and (max-width: 560px) {
  .sort-container {
    flex-direction: column;
    align-items: center;
  }

  .sort-container > li {
    margin: 0 0 10px 0;
  }
  .image-gallery > li {
    flex: 0 0 50%;
  }
  .img-container > li {
    flex: 0 0 47%;
  }
  .slide-left {
    left: 2%;
  }
  .slide-right {
    right: 2%;
  }
}

/*media query for hover from 480px starts here*/
@media only screen and (max-width: 480px) {
  .header-btns {
    flex-wrap: wrap;
  }
  .header-btns > a:first-child {
    margin-bottom: 10px;
  }
  .image-gallery > li {
    flex: 0 0 100%;
  }
  .img-container > li {
    flex: 0 0 100%;
  }
  .demos-slider {
    transform: translate(-50%, 75%);
  }

  .demos-slider .info {
    margin-top: 20px;
    font-size: 16px;
    line-height: initial;
  }

  .demos-slider .sub-heading {
    font-size: 30px;
  }
  .profile-img {
    margin-top: 10px;
  }

  .profile-img > img {
    width: 50px;
    height: 50px;
  }

  .profile-name {
    margin-top: 5px;
    font-size: 16px;
  }
}

/*media query for hover from 375px starts here*/
@media only screen and (max-width: 375px) {
}
